/* Shaina Koval's CSS for TAFITI's CS Timeline */
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* --------------------------------

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
body {
    background-color: $background;
    color: $black;
    line-height: 160%;
    font: {
        size: 100%;
        family: $primary-font;
    }
}
a {
    color: $red;
    text-decoration: none;
    &:focus,
    &:hover {
        color: darken($red, 10%);
    }
    &:focus {
        outline: none;
    }
}
img {
    max-width: 100%;
    @include MQ(M) {
        &.right {
            width: 300px;
            float: right;
        }
        &.left {
            width: 300px;
            float: left;
        }
    }
}
h1,
h2,
h3 {
    font-family: $secondary-font;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 2px;
}
h1 {
    line-height: 1em;
    @include MQ(S2) {
        font-size: 3em;
    }
}
h2 {
    font-size: 1.625em;
    line-height: 1em;
    @include MQ(S2) {
        font-size: 2em;
    }
}

/* --------------------------------

Modules

-------------------------------- */
.clearfix {
    @include clearfix;
}
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparentize($black, .3);
    z-index: 99;
}
.container {
    position: relative;
    width: 90%;
    max-width: $L; // breakpoints inside partials > _layout.scss
    margin: 0 auto;
    &::after {
        @include clearfix;
    }
}
.inner {
    width: 90%;
    max-width: $L; // breakpoints inside partials > _layout.scss
    margin: 0 auto;
}
[class^='block'] {
    margin-bottom: 3em;
    padding: 1.6em;
}
.block-blue {
    background-color: $blue;
    color: #FFF;
}
[class^='grid'] {
    @include MQ(S2) {
        float: left;
    }
}
.grid-1-3 {
    text-align: left;
    @include MQ(S2) {
        width: 49%;
        &:first-of-type {
            margin-right: 2%;
        }
    }
    @include MQ(M) {
        width: 32%;
        margin-right: 2%;
        &:last-of-type {
            margin-right: auto;
            margin-left: auto;
        }
    }
}
.secondary-font {
    font-family: $secondary-font;
    font-variant: small-caps;
    font-weight: normal;
    text-transform: none;
}
.error {
    position: absolute;
    width: 100%;
    @include MQ(M) {
        text-align: center;
    }
}
.button-container {
    text-align: center;
}
.button {
    display: inline-block;
    padding: .75em 1.25em;
    border: 2px solid $red;
    color: $red;
    font-size: 80%;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:focus,
    &:hover {
        background-color: $red;
        color: #FFF;
    }
}
.load-animate {
    @include MQ(M) {
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                @include animation--fadedown($i/10);
            }
        }
    }
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid #FFF;
    border-radius: 50%;
    font-family: $secondary-font;
    line-height: 1em;
    text-align: center;
    cursor: pointer;
}
.footnote {
    margin-top: 1em;
    padding-left: 1em;
    font-size: .8em;
    line-height: 1.4em;
    .asterisk {
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}
.hero-text {
    margin-bottom: 2.3em;
    font-size: 1.25em;
    line-height: 1.5em;
}

/* --------------------------------

Browser Check

-------------------------------- */
[class^='browser-warning'] {
    padding: 2em 0;
    background: $red;
    color: #FFF;
    text-align: center;
    z-index: 1;
    h2,
    p {
        margin: 0;
    }
    a {
        color: lighten($yellow, 20);
        &:focus,
        &:hover {
            color: $yellow;
        }
    }
}
.browser-warning-timeline {
    margin-top: 2em;
}

/* --------------------------------

Header

-------------------------------- */
header {
    display: table-cell;
    padding: 1em 0;
    background: $background;
    .logo {
        display: block;
        width: 5.5em;
        margin: 0 auto;
    }
    .title {
        margin: 0;
        color: $black;
        font-size: 1.5em;
        letter-spacing: 0;
        text-align: center;
        &:focus,
        &:hover {
            color: $black;
        }
    }
    @include MQ(M) {
        .logo {
            width: 2.5em;
            margin-right: .5em;
            float: left;
        }
        .title {
            line-height: 40px; /* Height of .logo */
            text-align: left;
        }
    }
}

/* --------------------------------

Footer

-------------------------------- */
footer {
    .inner {
        padding-top: 1em;
        background-image: linear-gradient(to left, #000 33%, rgba(255,255,255,0) 0%);
        background-position: top;
        background-repeat: repeat-x;
        background-size: 20px 2px;
    }
    .footer-description {
        @include MQ(S2) {
            width: 65%;
        }
        @include MQ(M) {
            width: 50%;
        }
    }
    .button-container {
        margin-top: 1em;
        .button {
            display: block;
        }
        @include MQ(S2) {
            float: right;
            .button {
                display: inline;
            }
        }
    }
    .copyright {
        font-size: 80%;
        @include MQ(M) {
            float: right;
        }
    }
}

/* --------------------------------

Timeline components

-------------------------------- */
.page {
    display: table;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background: url('../img/background.jpg') no-repeat center center;
    background-size: cover;
    .row {
        display: table-row;
    }
    .intro {
        display: table-cell;
        height: 100%;
        padding: 3em 0;
        background: rgba($black, .7);
        color: #FFF;
        text-align: center;
        vertical-align: middle;
        .inner {          
            max-width: $M;
        }
        h1 {
            margin-bottom: .4em;
            font-size: 2.5em;
            font-variant: normal;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
        p {
            margin: 0;
        }
    }
    .down-button {
        display: inline-block;
        width: 48px;
        height: 48px;
        margin-top: 2em;
        border: 2px solid #FFF;
        border-radius: 50%;
        color: #FFF;
        font-size: 1.625em;
        line-height: 44px; /* height - border*2 */
        &:focus,
        &:hover {
            background: #FFF;
            color: $black;
        }
    }
}
#timeline {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0 2em;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background: darken($background, 5%);
        /* Vertical line */
        content: '';
    }
    @include MQ(M) {
        &::before {
            left: 50%;
            margin-left: -2px;
        }
    }
}

.timeline-block {
    @include clearfix;
    position: relative;
    width: 100%;
    margin: 2em 0;
    &:nth-of-type(5n+1) {
        .timeline-content {
            .timeline-event {
                background-color: $red;
                color: #FFF;
                .event-date {
                    border-color: #FFF;
                }
            }
            &::before {
                background: $red;
            }
        }
        .timeline-marker {
            background-color: $red;
        }
    }
    &:nth-of-type(5n+2) {
        .timeline-content {
            .timeline-event {
                background-color: $yellow;
            }
            &::before {
                background: $yellow;
            }
        }
        .timeline-marker {
            background-color: $yellow;
        }
    }
    &:nth-of-type(5n+3) {
        .timeline-content {
            .timeline-event {
                background-color: $green;
            }
            &::before {
                background: $green;
            }
        }
        .timeline-marker {
            background-color: $green;
        }
    }
    &:nth-of-type(5n+4) {
        .timeline-content {
            .timeline-event {
                background-color: $blue;
                color: #FFF;
                .event-date {
                    border-color: #FFF;
                }
            }
            &::before {
                background: $blue;
            }
        }
        .timeline-marker {
            background-color: $blue;
        }
    }
    &:nth-of-type(5n+5) {
        .timeline-content {
            .timeline-event {
                background-color: $pink;
            }
            &::before {
                background: $pink;
            }
        }
        .timeline-marker {
            background-color: $pink;
        }
    }
    @include MQ(M) {
        width: 45%;
        &:nth-of-type(odd) {
            float: left;
            .timeline-marker {
                right: -10%;
                /* Resets default timeline-marker positioning */
                left: initial;
                margin-right: -15px; /* Half the marker's width */
                margin-left: 0;
            }
            .timeline-event {
                flex-direction: row-reverse;
                .event-date {
                    padding-right: 0;
                    padding-left: 16px;
                    border-right: none;
                    border-left: 2px solid $black;
                }
                .event-description {
                    padding-right: 16px;
                    padding-left: 0;
                }
            }
        }
        &:nth-of-type(even) {
            float: right;
        }
    }
}

.timeline-marker {
    position: absolute;
    top: 0;
    left: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
    z-index: 1;
    @include MQ(M) {
        left: -11.11%;
        margin-left: -10px; /* Half the marker's width */
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        &.is-hidden {
            visibility: hidden;
        }
        &.bounce-in {
            @include animation(bounce-1 .6s);
            visibility: visible;
        }
    }
}

.timeline-content {
    @include clearfix;
    position: relative;
    width: calc(100% - 30px);
    margin-left: 30px;
    background-color: #FFF;
    .timeline-event {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: 1em 1.6em;
        .event-description,
        .event-date {
            margin: 0;
        }
        .event-description {
            width: 100%;
            font-size: .875em;
            line-height: 1.25em;
        }
        .event-date {
            font-size: 1.25em;
        }
        @include MQ(M) {
            flex-direction: row;
            .event-description {
                padding-left: 16px;
            }
            .event-date {
                padding-right: 16px;
                border-right: 2px solid $black;
            }
        }
    }
    .timeline-bio {
        border: 1px solid #d1d3d4;
        border-top: none;
        .bio-main {
            padding: 1.6em 1.6em 0;
        }
        .name {
            margin: 0;
        }
        .lifespan {
            margin-top: 0;
            font-size: .875em;
        }
        .bio-extras {
            display: flex;
            // align-items: center;
            padding-left: 1.6em;
        }
        .button-container {
            width: 42%;
            margin-top: .875em;
            text-align: left;
            z-index: 99;
        }
        img {
            display: block;
            width: 58%;
            max-width: 300px;
            height: 58%;
        }
    }
    &::before {
        position: absolute;
        top: 9px; /* (Marker height/2) - (:before height/2) */
        left: -30px;
        width: 11.11%;
        height: 4px;
        content: '';
        z-index: -99;
    }
    .button {
        border-color: $black;
        color: $black;
        &:focus,
        &:hover {
            background-color: $black;
            color: #FFF;
        }
    }
    @include MQ(M) {
        width: 100%;
        margin-left: 0;
        &::before {
            left: 100%;
            width: 9.5%;
        }
        .date {
            @include font-size(16px);
            position: absolute;
            top: 6px;
            left: 122%;
            width: 100%;
        }
        .timeline-block:nth-child(even) & {
            float: right;
            &::before {
                right: 100%;
                left: auto;
            }
        }
        &.is-hidden {
            visibility: hidden;
        }
        &.bounce-in {
            @include animation(bounce-2 .6s);
            visibility: visible;
        }
    }
}

.timeline-resources {
    display: none;
    p:first-child {
        margin-top: 0;
    }
    p a {
        color: $black;
        font-weight: bold;
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
    .source {
        font-size: .8em;
    }
}

.final-note {
    .inner {
        width: 100%;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
    h2 {
        text-align: center;
    }
    a {
        color: $yellow;
        &:focus,
        &:hover {
            color: darken($yellow, 10%);
        }
    }
}

.credits {
    font-size: 80%;
}

@include MQ(M) {
    /* inverse bounce effect on even content blocks */
    .timeline-block:nth-child(even) .timeline-content.bounce-in {
        @include animation(bounce-2-inverse .6s);
    }
}

@include keyframes(bounce-1) {
    0% {
        @include transform(scale(.8));
        opacity: 0;
    }
    60% {
        @include transform(scale(1.3));
        opacity: 1;
    }
    100% {
        @include transform(scale(1));
    }
}

@include keyframes(bounce-2) {
    0% {
        @include transform(translateX(-100px));
        opacity: 0;
    }
    60% {
        @include transform(translateX(20px));
        opacity: 1;
    }
    100% {
        @include transform(translateX(0));
    }
}

@include keyframes(bounce-2-inverse) {
    0% {
        @include transform(translateX(100px));
        opacity: 0;
    }
    60% {
        @include transform(translateX(-20px));
        opacity: 1;
    }
    100% {
        @include transform(translateX(0));
    }
}

@include keyframes(fadeIn) {
    0% {
        @include transform(translateX(-50px));
        opacity: 0;
    }
    60% {
        @include transform(translateX(10px));
    }
    100% {
        @include transform(translateX(0));
        opacity: 1;
    }
}