html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "PT Sans",sans-serif;
  line-height: 160%;
  color: #000;
  background-color: #F5F5F6;
}

a {
  color: #CB2026;
  text-decoration: none;
}

a:hover {
  color: #9f191e;
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
}

img.right {
  float: right;
  width: 300px;
}

img.left {
  float: left;
  width: 300px;
}

h1,
h2,
h3 {
  font-family: "Neucha",cursive;
  font-weight: normal;
  font-variant: small-caps;
}

h1 {
  line-height: 1em;
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1em;
}

@media only screen and (min-width: 500px) {
  h2 {
    font-size: 2em;
  }
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 99;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.inner {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

[class^='block'] {
  padding: 1.6em;
  margin-bottom: 3em;
}

.block-blue {
  background-color: #3C50A2;
  color: #FFF;
}

@media only screen and (min-width: 500px) {
  [class^='grid'] {
    float: left;
  }
}

.grid-1-3 {
  text-align: left;
}

@media only screen and (min-width: 500px) {
  .grid-1-3 {
    width: 49%;
  }

  .grid-1-3:first-of-type {
    margin-right: 2%;
  }
}

@media only screen and (min-width: 768px) {
  .grid-1-3 {
    width: 32%;
    margin-right: 2%;
  }

  .grid-1-3:last-of-type {
    margin-right: auto;
    margin-left: auto;
  }
}

.secondary-font {
  font-family: "Neucha",cursive;
  font-weight: normal;
  font-variant: small-caps;
  text-transform: none;
}

.error {
  position: absolute;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .error {
    text-align: center;
  }
}

.button-container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: .75em 1.25em;
  color: #CB2026;
  font-weight: bold;
  font-size: 80%;
  line-height: 80%;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #CB2026;
}

.button:hover {
  background-color: #CB2026;
  color: #FFF;
}

@media only screen and (min-width: 768px) {
  .load-animate:nth-child(1) {
    -webkit-animation: fadeIn 0.6s ease-in-out;
    animation: fadeIn 0.6s ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .load-animate:nth-child(2) {
    -webkit-animation: fadeIn 0.6s ease-in-out;
    animation: fadeIn 0.6s ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  .load-animate:nth-child(3) {
    -webkit-animation: fadeIn 0.6s ease-in-out;
    animation: fadeIn 0.6s ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .load-animate:nth-child(4) {
    -webkit-animation: fadeIn 0.6s ease-in-out;
    animation: fadeIn 0.6s ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .load-animate:nth-child(5) {
    -webkit-animation: fadeIn 0.6s ease-in-out;
    animation: fadeIn 0.6s ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 1.2em;
  height: 1.2em;
  font-family: "Neucha",cursive;
  line-height: 1em;
  text-align: center;
  border: 2px solid #FFF;
  border-radius: 50%;
  cursor: pointer;
}

.footnote {
  margin-top: 1em;
  padding-left: 1em;
  font-size: .8em;
  line-height: 1.4em;
}

.footnote .asterisk {
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.hero-text {
  margin-bottom: 2.3em;
  font-size: 1.2em;
  line-height: 1.6em;
}

header {
  background: #F5F5F6;
  padding: 1em 0;
  display: table-cell;
}

header .logo {
  display: block;
  width: 5.5em;
  margin: 0 auto;
}

header .title {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header .logo {
    width: 2.5em;
    float: left;
    margin-right: .5em;
  }

  header .title {
    line-height: 40px;
    text-align: left;
  }
}

footer .inner {
  background-image: -webkit-linear-gradient(right, #000 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #000 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 20px 2px;
  background-repeat: repeat-x;
  padding-top: 1em;
}

@media only screen and (min-width: 320px) {
  footer .footer-description {
    width: 65%;
  }
}

@media only screen and (min-width: 768px) {
  footer .footer-description {
    width: 50%;
  }
}

footer .button {
  margin-top: 1em;
}

@media only screen and (min-width: 320px) {
  footer .button {
    float: right;
  }
}

footer .copyright {
  font-size: 80%;
}

@media only screen and (min-width: 768px) {
  footer .copyright {
    float: right;
  }
}

.page {
  min-height: 100vh;
  height: 100vh;
  background: url("../img/background.jpg") no-repeat center center;
  background-size: cover;
  display: table;
  width: 100%;
}

.page .row {
  display: table-row;
}

.page .intro {
  background: rgba(0,0,0,0.7);
  padding: 3em 0;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  color: #FFF;
  text-align: center;
}

.page .intro .inner {
  max-width: 768px;
}

.page .intro h1 {
  font-size: 2.5em;
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-variant: normal;
  text-transform: uppercase;
}

.page .intro p {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .page .intro h1 {
    font-size: 4em;
  }
}

.page .down-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 2em;
  line-height: 26px;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #FFF;
}

.page .down-button:hover {
  background: #FFF;
  color: #000;
}

#timeline {
  position: relative;
  padding: 3em 0 2em;
  margin-bottom: 2em;
}

#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #e8e8ea;
}

@media only screen and (min-width: 768px) {
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-block:nth-of-type(5n+1) .timeline-content {
  background-color: #CB2026;
  color: #FFF;
}

.timeline-block:nth-of-type(5n+1) .timeline-content .timeline-event {
  background-color: #9f191e;
}

.timeline-block:nth-of-type(5n+1) .timeline-content .timeline-event .event-date {
  background-color: #89161a;
}

.timeline-block:nth-of-type(5n+1) .timeline-content .bio,
.timeline-block:nth-of-type(5n+1) .timeline-content .timeline-resources p:first-child {
  background-image: -webkit-linear-gradient(right, #FFF 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #FFF 33%, rgba(255,255,255,0) 0%);
}

.timeline-block:nth-of-type(5n+1) .timeline-content .read-more {
  color: #FFF;
  border-color: #FFF;
}

.timeline-block:nth-of-type(5n+1) .timeline-content .read-more:hover {
  background-color: #FFF;
  color: #000;
}

.timeline-block:nth-of-type(5n+1) .timeline-content::before {
  background: #CB2026;
}

.timeline-block:nth-of-type(5n+1) .timeline-marker {
  border-color: #CB2026;
}

.timeline-block:nth-of-type(5n+1) p a {
  color: #FFF;
}

.timeline-block:nth-of-type(5n+2) .timeline-content {
  background-color: #FECE06;
}

.timeline-block:nth-of-type(5n+2) .timeline-content .timeline-event {
  background-color: #fed839;
}

.timeline-block:nth-of-type(5n+2) .timeline-content .timeline-event .event-date {
  background-color: #fedd52;
}

.timeline-block:nth-of-type(5n+2) .timeline-content::before {
  background: #FECE06;
}

.timeline-block:nth-of-type(5n+2) .timeline-marker {
  border-color: #FECE06;
}

.timeline-block:nth-of-type(5n+3) .timeline-content {
  background-color: #AFD135;
}

.timeline-block:nth-of-type(5n+3) .timeline-content .timeline-event {
  background-color: #bfda5f;
}

.timeline-block:nth-of-type(5n+3) .timeline-content .timeline-event .event-date {
  background-color: #c8df73;
}

.timeline-block:nth-of-type(5n+3) .timeline-content::before {
  background: #AFD135;
}

.timeline-block:nth-of-type(5n+3) .timeline-marker {
  border-color: #AFD135;
}

.timeline-block:nth-of-type(5n+4) .timeline-content {
  background-color: #3C50A2;
  color: #FFF;
}

.timeline-block:nth-of-type(5n+4) .timeline-content .timeline-event {
  background-color: #2e3e7d;
}

.timeline-block:nth-of-type(5n+4) .timeline-content .timeline-event .event-date {
  background-color: #27346a;
}

.timeline-block:nth-of-type(5n+4) .timeline-content .bio,
.timeline-block:nth-of-type(5n+4) .timeline-content .timeline-resources p:first-child {
  background-image: -webkit-linear-gradient(right, #FFF 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #FFF 33%, rgba(255,255,255,0) 0%);
}

.timeline-block:nth-of-type(5n+4) .timeline-content .read-more {
  color: #FFF;
  border-color: #FFF;
}

.timeline-block:nth-of-type(5n+4) .timeline-content .read-more:hover {
  background-color: #FFF;
  color: #000;
}

.timeline-block:nth-of-type(5n+4) .timeline-content::before {
  background: #3C50A2;
}

.timeline-block:nth-of-type(5n+4) .timeline-marker {
  border-color: #3C50A2;
}

.timeline-block:nth-of-type(5n+4) p a {
  color: #FFF;
}

.timeline-block:nth-of-type(5n+5) .timeline-content {
  background-color: #E1A0C7;
}

.timeline-block:nth-of-type(5n+5) .timeline-content .timeline-event {
  background-color: #edc7de;
}

.timeline-block:nth-of-type(5n+5) .timeline-content .timeline-event .event-date {
  background-color: #f3dae9;
}

.timeline-block:nth-of-type(5n+5) .timeline-content::before {
  background: #E1A0C7;
}

.timeline-block:nth-of-type(5n+5) .timeline-marker {
  border-color: #E1A0C7;
}

@media only screen and (min-width: 768px) {
  .timeline-block {
    margin: 4em 0 -17em;
    width: 45%;
  }

  .timeline-block:first-child {
    margin-top: 0;
  }

  .timeline-block:last-child {
    margin-bottom: 0;
  }

  .timeline-block:nth-of-type(odd) {
    float: left;
  }

  .timeline-block:nth-of-type(odd) .timeline-marker {
    left: initial;
    right: -11.11%;
    margin-left: 0;
    margin-right: -15px;
  }

  .timeline-block:nth-of-type(odd) .timeline-event {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .timeline-block:nth-of-type(even) {
    float: right;
  }
}

.timeline-marker {
  background: #FFF;
  position: absolute;
  top: 0;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #FFF;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .timeline-marker {
    left: -11.11%;
    margin-left: -15px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .timeline-marker.is-hidden {
    visibility: hidden;
  }

  .timeline-marker.bounce-in {
    visibility: visible;
    -webkit-animation: bounce-1 0.6s;
    animation: bounce-1 0.6s;
  }
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  min-width: 100%;
  content: "";
  display: table;
  clear: both;
}

.timeline-content .timeline-event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 1em;
  border-bottom: 10px solid #F5F5F6;
}

.timeline-content .timeline-event .event-description,
.timeline-content .timeline-event .event-date {
  margin: 0;
  padding: 1em 1.6em;
  font-size: 1.3em;
  line-height: 1.3em;
}

.timeline-content .timeline-event .event-description {
  width: 100%;
  font-size: 1.15em;
}

.timeline-content .timeline-event .event-date {
  font-family: "Neucha",cursive;
}

.timeline-content .timeline-bio {
  padding: 1.6em;
}

.timeline-content .timeline-bio img {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto 2em;
  border-radius: 50%;
}

.timeline-content .timeline-bio .name {
  margin: 0;
  text-align: center;
}

.timeline-content .timeline-bio .lifespan {
  margin-top: 0;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
}

.timeline-content .timeline-bio .bio {
  background-image: -webkit-linear-gradient(right, #000 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #000 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 20px 2px;
  background-repeat: repeat-x;
  padding-top: 1em;
}

.timeline-content .read-more {
  color: #000;
  border: 2px solid #000;
}

.timeline-content .read-more:hover {
  background-color: #000;
  color: #FFF;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 13px;
  left: -42px;
  height: 4px;
  width: 16%;
  z-index: -99;
}

@media only screen and (min-width: 768px) {
  .timeline-content {
    margin-left: 0;
  }

  .timeline-content::before {
    left: 100%;
    width: 11.1%;
  }

  .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }

  .timeline-block:nth-child(even) .timeline-content::before {
    left: auto;
    right: 100%;
  }

  .timeline-content.is-hidden {
    visibility: hidden;
  }

  .timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: bounce-2 0.6s;
    animation: bounce-2 0.6s;
  }
}

.timeline-resources {
  display: none;
  margin-top: -3.8em;
  padding: 1.6em;
}

.timeline-resources p:first-child {
  background-image: -webkit-linear-gradient(right, #000 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #000 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 20px 2px;
  background-repeat: repeat-x;
  padding-top: 1em;
}

.timeline-resources p a {
  font-weight: bold;
  color: #000;
}

.timeline-resources p a:hover {
  text-decoration: underline;
}

.timeline-resources .source {
  font-size: .8em;
}

.final-note .inner {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.final-note h2 {
  text-align: center;
}

.final-note a {
  color: #FECE06;
}

.final-note a:hover {
  color: #d0a801;
}

.credits {
  font-size: 80%;
}

@media only screen and (min-width: 768px) {
  .timeline-block:nth-child(even) .timeline-content.bounce-in {
    -webkit-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateX(-50px);
    opacity: 0;
  }

  60% {
    -webkit-transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }

  60% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */