/* Shaina Koval's CSS for TAFITI's Homepage */
@import '../bower_components/bourbon/app/assets/stylesheets/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* --------------------------------

Base

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
body {
	font: {
		size: 1em;
		family: $primary-font;
	}
    line-height: 160%;
	color: $text-colour;
	background-color: $background;
}
a {
	color: $red;
	text-decoration: none;

    &:hover {
        color: darken($red, 10%);
    }

    &:focus {
        outline: none;
    }
}
img {
	max-width: 100%;

    &.right {
        float: right;
        width: 300px;
    }
    &.left {
        float: left;
        width: 300px;
    }
}
h1,
h2 {
	font-family: $secondary-font;
    font-weight: normal;
    font-variant: small-caps;
    color: $black;
}
h1 {
    line-height: 1em;

    @include MQ(S2) {
        font-size: 3em;
    }
}
h2 {
    font-size: 1.625em;
    line-height: 1em;

    @include MQ(S2) {
        font-size: 2em;
    }
}
h3 {
    margin-bottom: 0;
    font-size: 1em;
    font-weight: bold;
    color: $black;
}
h1 + p,
h2 + p,
h3 + p {
    margin-top: 0;
}

/* --------------------------------

Layout

-------------------------------- */
.clearfix {
	@include clearfix;
}
.container {
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;
    position: relative;

	&::after {
        @include clearfix;
	}
}
.full-width {
    width: 100%;

    .grid-1-3 {
        max-width: calc(#{$L} / 3 - 2%);
    }

    .grid-2-3 {
        max-width: calc(#{$L} * 2 / 3 - 2%);
    }
}
[class^='block'] {
    padding: 1.6em;
    margin-bottom: 3em;
}
.block-blue {
    background-color: $blue;
    color: #FFF;
}
[class*='grid'] {
	@include MQ(S2) {
        float: left;
	}
}
.grid-1-3 {
    @include MQ(S2) {
        width: 49%;

        &:first-of-type {
            margin-right: 2%;
        }
    }

	@include MQ(M) {
        width: 32%;
        margin-right: 2%;

        &:last-of-type {
            margin-right: auto;
            margin-left: auto;
        }
    }
}
.grid-2-3 {
    @include MQ(S2) {
        width: 49%;

        &:first-of-type {
            margin-right: 2%;
        }
    }

    @include MQ(M) {
        width: 66%;
        margin-right: 2%;

        &:last-of-type {
            margin-right: auto;
            margin-left: auto;
        }
    }
}
.screen-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparentize($black, .3);
    z-index: 99;
}

/* --------------------------------

Typography

-------------------------------- */
.hero-text {
    margin-bottom: 2.3em;
    font-size: 1.25em;
    line-height: 1.5em;
}
.secondary-font {
    font-family: $secondary-font;
    font-weight: normal;
    font-variant: small-caps;
    text-transform: none;
}
.byline {
    margin-top: 0;
    font-size: 80%;

    a {
        text-transform: uppercase;
        font-weight: bold;
    }
}
.error {
    position: absolute;
    width: 100%;

    @include MQ(M) {
        text-align: center;
    }
}
.footnote {
    margin-top: 1em;
    padding-left: 1em;
    font-size: .8em;
    line-height: 1.4em;

    .asterisk {
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
}

/* --------------------------------

Forms & Buttons

-------------------------------- */
.button-container {
    text-align: center;
}
.button {
    display: block;
    padding: .75em 1.25em;
    color: $red;
    font-weight: bold;
    font-size: 80%;
    line-height: 80%;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid $red;

    &:hover {
        background-color: $red;
        color: #FFF;
    }

    &.disabled {
        color: lighten($text-colour, 20%);
        border-color: lighten($text-colour, 20%);
        cursor: default;

        &:hover {
            background-color: transparent;
            color: lighten($text-colour, 20%);
        }
    }

    @include MQ(S2) {
        display: inline-block;
    }
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 1.2em;
    height: 1.2em;
    font-family: $secondary-font;
    line-height: 1em;
    text-align: center;
    border: 2px solid #FFF;
    border-radius: 50%;
    cursor: pointer;
}

/* --------------------------------

Header

-------------------------------- */
header {
    background: $background;
    padding: 1em 0;

    .logo {
        display: block;
        width: 5.5em;
        margin: 0 auto;
    }

    .title {
        margin: 0;
        font-size: 1.5em;
        text-align: center;
    }

    &.fixed {
        background: rgba(255, 255, 255, 0.3);

        .logo {
            width: 2.5em;
            float: left;
            margin-right: .5em;
        }

        .title {
            line-height: 40px; /* Height of .logo */
            text-align: left;
        }
    }

    @include MQ(M) {
        .title {
            font-size: 2em;
        }
    }
}

/* --------------------------------

Footer

-------------------------------- */
footer {
    background: $black;
    padding: 1.3em;
    color: #CCC;

    .container {
        // background-image: linear-gradient(to left, #000 33%, rgba(255,255,255,0) 0%);
        // background-position: top;
        // background-size: 20px 2px;
        // background-repeat: repeat-x;
        // padding-top: 1em;
    }

    .footer-description {
        margin: 0;

        @include MQ(S2) {
            width: 65%;
        }
    }

    .button {
        margin-bottom: 1.3em;

        @include MQ(S2) {
            float: right;
        }
    }

    .copyright {
        font-size: 80%;

        @include MQ(M) {
            float: right;
        }
    }

}

/* --------------------------------

Homepage

-------------------------------- */
.intro {
    max-width: $M;
}
[class*="project"] {
    .overlay {
        padding: 2.6em 1.3em;

        @include MQ(M) {
            padding: 3.9em 1.3em;
        }
    }

    .container {
        text-align: center;

        .project-title {
            margin: 0;
            font-size: 3em;
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        @include MQ(M) {
            max-width: $M;

            .project-title {
                font-size: 5em;
            }
        }
    }

    &.project-timeline {
        background: url('../img/timeline-background.jpg') no-repeat center center;
        color: #FFF;

        .overlay {
            background: rgba(0, 0, 0, 0.7);
        }

        .project-title {
            color: #FFF;
        }

        .button {
            background-color: rgba(0,0,0,.5);

            &:hover {
                background-color: $red;
            }
        }
    }

    &.project-choose-tech {
    }

    &.coming-soon {
        background: #ccc;
        color: lighten($text-colour, 20%);

        .project-title {
            color: lighten($text-colour, 20%);
        }
    }
}
.resources {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;

    .resources-image,
    .resources-content {
        width: 100%;
    }

    .resources-image {
        display: none;
        background: url('../img/woman-at-computer.jpg') right top;
        background-size: cover;
    }

    .resources-content {
        background: #FFF;
        padding: 3em;

        h2 {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    @include MQ(M) {
        flex-direction: row;

        .resources-image,
        .resources-content {
            width: 50%;
        }

        .resources-image {
            display: block;
        }
    }
}
