/* Shaina Koval's CSS for TAFITI's CS Timeline */

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* --------------------------------

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
    line-height: 160%;
	color: $black;
	background-color: $background;
}
a {
	color: $red;
	text-decoration: none;
	font-family: $secondary-font;
}
img {
	max-width: 100%;
}
h1,
h2 {
	font-family: $secondary-font;
    font-weight: normal;
    font-variant: small-caps;
}
h1 {
    font-size: 4em;
    line-height: 1em;
}
h2 {
    font-size: 2em;
    line-height: 1em;
}

/* --------------------------------

Modules

-------------------------------- */
.clearfix {
	@include clearfix;
}
.cd-container {
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after {
        @include clearfix;
	}
}
.inner {
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;
}
[class^='block'] {
    padding: 1.6em;
    margin-bottom: 3em;
}
.block-blue {
    background-color: $blue;
    color: #ffffff;
}
.block-red {
    background-color: $red;
    color: #ffffff;
}
.block-yellow {
    background-color: $yellow;
}
.block-pink {
    background-color: $pink;
}
.block-green {
    background-color: $green;
}
[class^='grid'] {
	@include MQ(M) {
        float: left;
	}
}
.grid-1-3 {
	@include MQ(M) {
        width: 32%;
        margin-right: 2%;

        &:last-of-type {
            margin-right: 0;
        }
    }
}
.secondary-font {
    font-family: $secondary-font;
    font-weight: normal;
    font-variant: small-caps;
    text-transform: none;
}

/* --------------------------------

Main components

-------------------------------- */
.page {
    min-height: 100vh;
    background: url('../img/background.jpg') no-repeat center center;
    background-size: cover;
    display: table;
    width: 100%;

    .row {
        display: table-row;
    }

    header {
        background: $background;
        padding: 1em 0;
        display: table-cell;

        .logo {
            width: 4em;
            float: left;
            margin-right: 1em;
        }

        .title {
            font-size: 2.25em;
            line-height: 46px; /* Height of .logo */
        }
    }

    .intro {
        background: rgba($black, .7);
        padding: 2em 0;
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        color: #ffffff;
        text-align: center;

        h1 {
            font-family: $primary-font;
            font-weight: bold;
            text-align: center;
            font-variant: normal;
            text-transform: uppercase;
        }

        .block-blue {
            background: rgba($blue, .8);

            @include MQ(M) {
                min-width: 677px; /* For smooth transition between M and S */
                max-width: 66%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    h2 {
        font-family: $primary-font;
        font-weight: bold;
        text-align: center;
        font-variant: normal;
        text-transform: uppercase;
    }

    .down-button {
        display: inline-block;
        width: 1.6em;
        height: 1.6em;
        margin-top: 2em;
        line-height: 1.6em;
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;

        &:hover {
            background: #FFFFFF;
            color: $black;
        }
    }
}
#cd-timeline {
	position: relative;
	padding: 2em 0;
	margin: {
		top: 2em;
		bottom: 2em;
	}

	&::before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		background: darken($background, 5%);
	}

	@include MQ(L) {
		margin: {
			top: 3em;
			bottom: 3em;
		}

		&::before {
			left: 50%;
			margin-left: -2px;
		}
	}
}

.cd-timeline-block {
	position: relative;
	margin: 2em 0;
	@include clearfix;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include MQ(L) {
		margin: 4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.cd-timeline-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

	img {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
	}

	&.cd-picture {
		background: $green;
	}

	&.cd-movie {
		background: $red;
	}

	&.cd-location {
		background: $yellow;
	}

	@include MQ(L) {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;

		/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			@include animation(cd-bounce-1 .6s);
		}
	}
}

.cd-timeline-content {
	position: relative;
	margin-left: 60px;
	background: #ffffff;
	@include border-radius;
	padding: 1em;
	box-shadow: 0 3px 0 darken($background, 5%);
	@include clearfix;

    .cd-name {
        margin: 0;
    }

    .cd-lifespan {
        margin-top: 0;
        font-size: 80%;
        font-weight: bold;
    }

	.cd-read-more,
    .cd-date {
		display: inline-block;
	}

	.cd-read-more {
        display: none;
		float: right;
		padding: .8em 1em;
		background: $red;
		color: #ffffff;
		@include border-radius;

		.no-touch &:hover {
			background-color: lighten($red, 5%);
		}
	}

	.cd-date {
		float: left;
		padding: .8em 0;
		opacity: .7;
	}

	&::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid #ffffff;
	}

	@include MQ(M) {
		/*h2 {
			@include font-size(20px);
		}

		p {
			@include font-size(16px);
		}

		.cd-read-more, .cd-date {
			@include font-size(14px);
		}*/
	}

	@include MQ(L) {
		margin-left: 0;
		padding: 1.6em;
		width: 45%;

		&::before {
			top: 24px;
			left: 100%;
			border-color: transparent;
			border-left-color: #ffffff;
		}

		.cd-read-more {
			float: left;
		}

		.cd-date {
			position: absolute;
			width: 100%;
			left: 122%;
			top: 6px;
			@include font-size(16px);
		}

		.cd-timeline-block:nth-child(even) & {
			float: right;

			&::before {
				top: 24px;
				left: auto;
				right: 100%;
				border-color: transparent;
				border-right-color: #ffffff;
			}

			.cd-read-more {
				float: right;
			}

			.cd-date {
				left: auto;
				right: 122%;
				text-align: right;
			}
		}

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			@include animation(cd-bounce-2 .6s);
		}
	}
}

@include MQ(L) {
	/* inverse bounce effect on even content blocks */
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		@include animation(cd-bounce-2-inverse .6s);
	}
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}