// colors

$black: #222222;
$text-colour: #404040;
$background: #F5F5F6;
$grey: #323232;
$red: #CB2026;
$yellow: #FECE06;
$blue: #3C50A2;
$green: #AFD135;
$pink: #E1A0C7;

// fonts

$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Neucha', cursive;