// colors

$black: #000000; // main text
$background: #F5F5F6;
$grey: #323232;
$red: #CB2026;
$yellow: #FECE06;
$blue: #3C50A2;
$green: #AFD135;

// fonts

$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Amatic SC', cursive;