html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "PT Sans",sans-serif;
  line-height: 160%;
  color: #000;
  background-color: #F5F5F6;
}

a {
  color: #CB2026;
  text-decoration: none;
}

a:hover {
  color: #9f191e;
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: "Neucha",cursive;
  font-weight: normal;
  font-variant: small-caps;
}

h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  line-height: 1em;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.inner {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

[class^='block'] {
  padding: 1.6em;
  margin-bottom: 3em;
}

.block-blue {
  background-color: #3C50A2;
  color: #FFF;
}

@media only screen and (min-width: 768px) {
  [class^='grid'] {
    float: left;
  }
}

.grid-1-3 {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .grid-1-3 {
    width: 32%;
    margin-right: 2%;
  }

  .grid-1-3:last-of-type {
    margin-right: 0;
  }
}

.secondary-font {
  font-family: "Neucha",cursive;
  font-weight: normal;
  font-variant: small-caps;
  text-transform: none;
}

.error {
  position: absolute;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .error {
    text-align: center;
  }
}

.button-container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: .75em 1.25em;
  color: #CB2026;
  font-weight: bold;
  font-size: 80%;
  line-height: 80%;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #CB2026;
}

.button:hover {
  background-color: #CB2026;
  color: #FFF;
}

.page {
  min-height: 100vh;
  background: url("../img/background.jpg") no-repeat center center;
  background-size: cover;
  display: table;
  width: 100%;
}

.page .row {
  display: table-row;
}

.page header {
  background: #F5F5F6;
  padding: 1em 0;
  display: table-cell;
}

.page header .logo {
  display: block;
  width: 5.5em;
  margin: 0 auto;
}

.page header .title {
  font-size: 1.5em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .page header .logo {
    width: 4em;
    float: left;
    margin-right: 1em;
  }

  .page header .title {
    font-size: 2.25em;
    line-height: 46px;
    text-align: left;
  }
}

.page .intro {
  background: rgba(0,0,0,0.7);
  padding: 3em 0;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  color: #FFF;
  text-align: center;
}

.page .intro h1 {
  font-family: "PT Sans",sans-serif;
  font-weight: bold;
  text-align: center;
  font-variant: normal;
  text-transform: uppercase;
}

.page .intro .block-blue {
  background: rgba(60,80,162,0.8);
}

@media only screen and (min-width: 768px) {
  .page .intro .block-blue {
    min-width: 677px;
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
  }
}

.page h2 {
  font-family: "PT Sans",sans-serif;
  font-weight: bold;
  text-align: center;
  font-variant: normal;
  text-transform: uppercase;
}

.page .down-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 2em;
  line-height: 26px;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #FFF;
}

.page .down-button:hover {
  background: #FFF;
  color: #000;
}

#timeline {
  position: relative;
  padding: 3em 0 2em;
  margin-bottom: 2em;
}

#timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #e8e8ea;
}

@media only screen and (min-width: 768px) {
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-block:nth-of-type(5n+1) .timeline-content {
  background-color: #CB2026;
  color: #FFF;
}

.timeline-block:nth-of-type(5n+1) .timeline-content .bio {
  background-image: -webkit-linear-gradient(right, #FFF 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #FFF 33%, rgba(255,255,255,0) 0%);
}

.timeline-block:nth-of-type(5n+1) .timeline-content .read-more {
  color: #FFF;
  border-color: #FFF;
}

.timeline-block:nth-of-type(5n+1) .timeline-content .read-more:hover {
  background-color: #FFF;
  color: #000;
}

.timeline-block:nth-of-type(5n+1) .timeline-content::before {
  background: #CB2026;
}

.timeline-block:nth-of-type(5n+1) .timeline-marker {
  border-color: #CB2026;
}

.timeline-block:nth-of-type(5n+2) .timeline-content {
  background-color: #FECE06;
}

.timeline-block:nth-of-type(5n+2) .timeline-content::before {
  background: #FECE06;
}

.timeline-block:nth-of-type(5n+2) .timeline-marker {
  border-color: #FECE06;
}

.timeline-block:nth-of-type(5n+3) .timeline-content {
  background-color: #AFD135;
}

.timeline-block:nth-of-type(5n+3) .timeline-content::before {
  background: #AFD135;
}

.timeline-block:nth-of-type(5n+3) .timeline-marker {
  border-color: #AFD135;
}

.timeline-block:nth-of-type(5n+4) .timeline-content {
  background-color: #3C50A2;
  color: #FFF;
}

.timeline-block:nth-of-type(5n+4) .timeline-content .bio {
  background-image: -webkit-linear-gradient(right, #FFF 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #FFF 33%, rgba(255,255,255,0) 0%);
}

.timeline-block:nth-of-type(5n+4) .timeline-content .read-more {
  color: #FFF;
  border-color: #FFF;
}

.timeline-block:nth-of-type(5n+4) .timeline-content .read-more:hover {
  background-color: #FFF;
  color: #000;
}

.timeline-block:nth-of-type(5n+4) .timeline-content::before {
  background: #3C50A2;
}

.timeline-block:nth-of-type(5n+4) .timeline-marker {
  border-color: #3C50A2;
}

.timeline-block:nth-of-type(5n+5) .timeline-content {
  background-color: #E1A0C7;
}

.timeline-block:nth-of-type(5n+5) .timeline-content::before {
  background: #E1A0C7;
}

.timeline-block:nth-of-type(5n+5) .timeline-marker {
  border-color: #E1A0C7;
}

@media only screen and (min-width: 768px) {
  .timeline-block {
    margin: 4em 0;
  }

  .timeline-block:first-child {
    margin-top: 0;
  }

  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-marker {
  background: #FFF;
  position: absolute;
  top: 0;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid #FFF;
}

@media only screen and (min-width: 768px) {
  .timeline-marker {
    left: 50%;
    margin-left: -15px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }

  .cssanimations .timeline-marker.is-hidden {
    visibility: hidden;
  }

  .cssanimations .timeline-marker.bounce-in {
    visibility: visible;
    -webkit-animation: bounce-1 0.6s;
    animation: bounce-1 0.6s;
  }
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  padding: 1.6em;
  content: "";
  display: table;
  clear: both;
}

.timeline-content img {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto 2em;
  border-radius: 50%;
}

.timeline-content .name {
  margin: 0;
  text-align: center;
}

.timeline-content .lifespan {
  margin-top: 0;
  font-size: 80%;
  font-weight: bold;
  text-align: center;
}

.timeline-content .bio {
  background-image: -webkit-linear-gradient(right, #000 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #000 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 20px 2px;
  background-repeat: repeat-x;
  padding-top: 1em;
}

.timeline-content .read-more {
  color: #000;
  border: 2px solid #000;
}

.timeline-content .read-more:hover {
  background-color: #000;
  color: #FFF;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 13px;
  left: -42px;
  height: 4px;
  width: 16%;
  z-index: -99;
}

@media only screen and (min-width: 768px) {
  .timeline-content {
    margin-left: 0;
    width: 45%;
  }

  .timeline-content::before {
    left: 100%;
    width: 11.1%;
  }

  .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }

  .timeline-block:nth-child(even) .timeline-content::before {
    left: auto;
    right: 100%;
  }

  .cssanimations .timeline-content.is-hidden {
    visibility: hidden;
  }

  .cssanimations .timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: bounce-1 0.6s;
    animation: bounce-1 0.6s;
  }
}

.credits {
  font-size: 80%;
}

footer .inner {
  background-image: -webkit-linear-gradient(right, #000 33%, rgba(255, 255, 255, 0) 0%);
  background-image: linear-gradient(to left, #000 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 20px 2px;
  background-repeat: repeat-x;
  padding-top: 1em;
}

@media only screen and (min-width: 320px) {
  footer .footer-description {
    width: 65%;
  }
}

@media only screen and (min-width: 768px) {
  footer .footer-description {
    width: 50%;
  }
}

footer .button {
  margin-top: 1em;
}

@media only screen and (min-width: 320px) {
  footer .button {
    float: right;
  }
}

footer .copyright {
  font-size: 80%;
}

@media only screen and (min-width: 768px) {
  footer .copyright {
    float: right;
  }
}

@media only screen and (min-width: 768px) {
  .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
    -webkit-animation: bounce-1 0.6s;
    animation: bounce-1 0.6s;
  }
}

@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/*# sourceMappingURL=main.css.map */